.marginTop{
    margin-top: 45px;
}
.headlineBackground {
    padding: 0px 0px 2px 5px;
    background-color: white;
    border-radius: 15%;
    font-size: 75px;
    position: absolute;
    left: 40%;
    margin-top: 16px;
    width: 300px;
    border: 4px inset gold;
}
.headline{
    font-size: 80px;
    font-weight: 1000;
    font-style:italic;
}
.insideHeadline{
    font-size: 24px;
    font-weight: 1000;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: midnightblue;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}
.straightLines{
    font-size: 75px;
    font-weight: 750;
    font-style:italic;
}
.table {
    border: 2px solid gold;
    border-radius: 1%;
    margin-left: 18%;
    margin-top:2%;
    width: 64%;
    backdrop-filter: brightness(0.5);
    /*background-color: black;*/
    color: white;
}
.text{
    margin-left: 15px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.bounds{
    margin-left: 15px;
    border-radius: 15%;
    font-size: 20px;
    border: 2px inset white;
    background-color: rgb(47,78,155);
}
select{
    font-size: 20px;
    font-weight: 300;
}
td,tr,th{
    text-align: center;
}
tr:hover,th:hover,thead:hover{
    filter: drop-shadow(2px 2px 2px gold);
    background: radial-gradient(circle at center,
    rgb(50,120,170),midnightblue,rgb(10,10,15)),100%;
}
a:link {
    text-decoration: none;
}
.two{
    font-style:italic;
    color:white;
    font-size: 55px;
    font-weight: 1000;
    padding: 0px 20px 0px 20px;
    margin-left: 8px;
    margin-top: 23px;
    position: absolute;
    border-radius: 30%;
    text-align: center;
    background-color: rgb(47,78,155);
}
button{
    background: radial-gradient(circle at top right,
    rgb(180,30,20), rgb(100,30,40)),100% ;
    border-radius: 8%;
    margin-left: 5px;
    color: white;
}
.statistics-text{
    text-align: center;
    font-size: 25px;
}
img{
    margin-top: 110px;
    margin-right: 25px;
    border-radius: 100%;
    border: 3px solid gold;
    width: 250px;
    height: 250px;
}
img:hover{
    filter: drop-shadow(10px 10px 30px yellow);
}
.purple{
    color: rebeccapurple;
}
.red{
    color: red;
}
.backgroundGreen{
    background-color: green;
}
.backgroundMidnightblue{
    background-color: midnightblue;
}
.backgroundRed{
    background: radial-gradient(circle at top,
    rgb(180,30,20), rgb(100,30,40)),100%;
}
.white{
    color: white;
}
.gray{
    color: gray;
}
.blue{
    color: rgb(47,78,156);
}
html{

}
body{
    /*background-image: url("https://thumblr.uniid.it/blog_component/149437/cc41be364e0e.jpg");*/
    background-image: url("https://thumbs.dreamstime.com/b/green-grass-field-background-soccer-football-sports-lawn-pattern-texture-close-up-image-138448226.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    background-blend-mode: multiply;

}
.margin{
    margin: 5px;
}
.gold{
    color: gold;
}
.green{
    color: green;
}
.black{
    color: black;
}
.silver{
    color: silver;
}
div{
    color: white;
}