.black{
    color: black;
}
.blue{
    color: rgb(47,78,156);
}
.headlineBackground{
    padding: 0px 15px 2px 5px;
    background-color: white;
    border-radius: 15%;
    font-size: 85px;
    position: absolute;
    left: 575px;
    width: 300px;
    border: 3px solid #73AD21;


}
.purple{
    color: rebeccapurple;
}
.red{
    color: red;
}
.white{
    color: white;
}
.gray{
    color: gray;
}
.margin{
    margin: 5px;
}
.gold{
    color: gold;
}
.headline{
font-size: 90px;
font-weight: 1000;
font-style:italic;
}
.straightLines{
    font-size: 85px;
    font-weight: 750;
    font-style:italic;
}
.table{
    border: 2px solid gold;
    border-radius: 4%;
    margin-left: 15px;
    width: 270px;
    background-color: black;
    color: white;
}
.text{
    margin-left: 15px;
    font-size: 32px;
    font-weight: 700;
}
.bounds{
    margin-left: 15px;
    border-radius: 20%;
    font-size: 20px;
    border: 2px inset white;
    background-color: rgb(47,78,155);
}
select{
    font-size: 20px;
    font-weight: 300;
}
tr{
    font-size: 17px;
}
a:link {
    text-decoration: none;
}
body{
    background-color: linen;
    background-image: url("https://thumblr.uniid.it/blog_component/149437/cc41be364e0e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
div{
    color: white;
}